*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

#hcont{
    display: flex;
    flex-direction: row;
}

header{
    color: white;
    background-color: #3d52a0;
    padding: 5px;
    text-align: center;
    border-bottom: 3px solid #7091e6;
}

h1{
    text-align: center;
    color: rgb(230, 218, 218);
    text-shadow: 1px 1px #eee;
    padding-top: 15px;
    padding-left: 130px;
    font-size: 40px;
}


.car{
    display: block;
    width: 5%;
    color: white;
    text-align: center;
    text-transform: lowercase;
    text-decoration: none;
    background-color: transparent;
    margin-left: 650px;
}

#log{
    display: block;
    width: 25%;
    color: #fff;
    padding: 0px;
    border: nome;
    font-size: 20px;
    background-color: #070347;
    margin-left: 0%;
    margin-top: 40px;
}

#clog{
    display: block;
    width: 15%;
    color: #fff;
    padding: 0px;
    border: nome;
    font-size: 20px;
    background-color: #070347;
    margin-left: 0%;
    margin-top: 40px;
}
.products-container{
    max-width: 1200px;
    margin: 0 auto;
}


.card{
    width: 31%;
    display: inline-block;
    margin: 1% 1%;
    padding: 15px;
}

.container{
    background-color: #adbbda;
    min-height: 60vh;
    padding: 60px;
}

footer{
    text-align: center;

}